body{
    margin:0;
    padding:0px;
    font-family: 'popping',sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
   
   
  }
  .slide{
    min-height: 80vh;
    width: 100%;
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(download.webp);
    background-position:center;
    background-size:cover;
    position:relative;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  

   }
   .my-button{
     background-color: darkblue;
     color: whitesmoke;
     padding: 10px 20px;
     border:none;
     cursor: pointer;
     border-radius: 10px;

   }
   .my-button:hover{
    color:lightseagreen;
   }
   
   .slide h1,h4{
    color:white;

   }
  .hero{
    width:100%;
    min-height: 15vh;
    background: linear-gradient(to right,#094282,#6d00ff 70%,#6d00ff 70%);
    color: #ffff;
    padding: 1px px;
    position: relative;
  }  
  .hero img{
      height: 100px;
      width:100px;
  }
  
  .search{
      position:absolute;
      left: 120px;
      right: 40px;
      top:40px;
  }
  .language{
      position: absolute;
      left:900px;
      right:120px;
      top: 40px;
  }
  .logout-button {
      background-color: #2882a5;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1100px;
  
  }
    
    .logout-button:hover {
      background-color: #1f045e;
    }
    
    .menu1{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:white;
      display: flex;
       
    }
    .menu1 li {
      display: inline-block;
      margin-right: 5px;
      flex: 1;
    }
    .menu1 li:last-child {
      margin-right: 0; /* Remove right margin from the last item */
    }
    .menu1 li:first-child{
      margin-left: 20px;
    }
    .menu1 li a {
      text-decoration: none;
      color: black;
      padding: 5px 10px;
    }
    
    .menu1 li a:hover {
      background-color: #5780a7;
      color: white;
      border-radius: 3px;
    }
    
    li a {
      float: center;
      display: block;
      color: white;
      text-align: none;
      padding: 5px;
      text-decoration: none;
      
    }
    
    
  .black-line{
      border:none;
      height: 1px;
      background-color: black;
  }  
  .terms{
    background-color:gray;
  }
  .copyrightText{
    text-align: right ;
    background-color:gray ;
    }
  /*read this*/
    
    .info{
        color:lightgrey;
        text-align: left;
    }

    *{
      margin:0px;
      padding:0;
      box-sizing: border-box;
    }

    html{
      scroll-behavior: smooth;
    }
    .container{
      max-width: 1170px;
      margin:auto;
    }
    .row{
      display: flex;
    }
    ul{
      list-style: none;
    }

    

/* NavbarTop */
.navbar-top {
  background-color:orange;
  color:black;
  box-shadow: 0px 4px 8px 0px grey;
  height: 70px;
}

.title {
  font-family: 'Dancing Script', cursive;
  padding-top: 15px;
  position: absolute;
  left: 35%;
}
/* End */



/* main */
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
  }
  
  
  .main .card {
    background-color:#ffffff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 darkblue;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
  }

.details{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    
}


  .btn{
    padding: 10px 60px;
    background: green;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
  }

  .popup{
    width: 400px;
    background:pink;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s ;
  }
  
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
  }


  .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }

  .popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #2882a5;
    color: #6d00ff;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

/* End */


/* footer */
  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col{
      width: 25%;
      padding: 10px 5px;
  }
  .footer-col img{
    height: 100px;
    width: 100px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  /* end */
